<%- include('../includes/head')%>
    <body>
        <%- include('../includes/nav')%>
        <%- include('../includes/alert')%>
        <section>
            <h1>Answer Poll</h1>
            <h3>Answer polls and see the results in real-time.</h3>
            
            <form action="/submit_answer" method="POST">
                <div class="poll-container container result col-6 p-3 mt-4 shadow">
                    <h4>Question</h4>
                    <p class="my-4"><%= question %></p>
                    <%let i= 0%>
                    <%for(let choice in choice_list){ %>
                        <% if(i<=choice_list.length) { i++ } %>
                        <div class="form-check mb-3">
                            <input class="form-check-input" value="<%=choice_list[choice].choice%>" type="radio" name="choice" id="choice<%=i%>">
                            <label class="form-check-label" for="choice<%=i%>">
                            <%=choice_list[choice].choice%>
                            </label>
                        </div>
                    <% } %>
                
                </div>
                <div class="poll-container-footer container answer-footer col-6 shadow">
                    <button type="submit" class="btn btn-primary my-3">Vote</a>
                </div>
            </form>

        </section>

        <script>
            $(document).ready(function(){
                var option = {
                animation: true,
                }

                function Toasty() {
                    var toastHTMLElement = document.getElementById("EpicToast");
                    var toastElement = new bootstrap.Toast( toastHTMLElement, option);
                    $(".toast-body").html("Response has been sent.");
                    toastElement.show();
                }

                const socket = io();
                $("form").submit(function(){
                    console.log($(this).serialize());
                    $.post($(this).attr("action"),$(this).serialize(),function(response){
                        console.log(response);
                        socket.emit("submit_answer_complete",{message:"submit answer complete"})
                        Toasty();
                    },"json");
                    $(this).trigger("reset");

                    return false;
                });
            });
        </script>
    </body>
</html>